# Don't track content of these folders
data/

# Don't track these files
credentials.txt
notebooks/.ipynb_checkpoints
.ipynb_checkpoints
assets/.ipynb_checkpoints
assets/favicon.ai
sidewalkwidths_mtl.json
